
CREATE TABLE IF NOT EXISTS users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL,
    post VARCHAR(50) NOT NULL,
    college_name VARCHAR(255),
    phone VARCHAR(20),
    status ENUM('pending', 'verified') DEFAULT 'pending',
    is_verified BOOLEAN DEFAULT 0
);
