-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: eems
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `access_control`
--

DROP TABLE IF EXISTS `access_control`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `access_control` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `dashboard_access` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'JSON array of allowed dashboards' CHECK (json_valid(`dashboard_access`)),
  `module_access` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'JSON array of allowed modules' CHECK (json_valid(`module_access`)),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `idx_user_id` (`user_id`),
  CONSTRAINT `fk_access_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `access_control`
--

LOCK TABLES `access_control` WRITE;
/*!40000 ALTER TABLE `access_control` DISABLE KEYS */;
/*!40000 ALTER TABLE `access_control` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_log`
--

DROP TABLE IF EXISTS `activity_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `activity_type` varchar(100) NOT NULL,
  `activity_description` text DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `request_url` varchar(500) DEFAULT NULL,
  `request_method` varchar(10) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_type` (`activity_type`),
  KEY `idx_created` (`created_at`),
  CONSTRAINT `activity_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Detailed activity tracking';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_log`
--

LOCK TABLES `activity_log` WRITE;
/*!40000 ALTER TABLE `activity_log` DISABLE KEYS */;
INSERT INTO `activity_log` VALUES (1,1,'login','User logged in successfully','127.0.0.1',NULL,'/login.php','POST','2025-11-22 10:37:18'),(2,1,'user_management','Viewed user management page','127.0.0.1',NULL,'/admin_dashboard.php?module=user_management','GET','2025-11-22 10:37:18'),(3,1,'exam_create','Created new exam: Mathematics Final','127.0.0.1',NULL,'/admin_dashboard.php?action=add_exam','POST','2025-11-22 09:37:18');
/*!40000 ALTER TABLE `activity_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_roles`
--

DROP TABLE IF EXISTS `admin_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `role_name` varchar(100) NOT NULL,
  `display_name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `permissions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'JSON array of permissions' CHECK (json_valid(`permissions`)),
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_name` (`role_name`),
  KEY `idx_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Admin role definitions';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_roles`
--

LOCK TABLES `admin_roles` WRITE;
/*!40000 ALTER TABLE `admin_roles` DISABLE KEYS */;
INSERT INTO `admin_roles` VALUES (1,'super_admin','Super Administrator','Full system access','[\"all\"]',1,'2025-11-22 10:33:32'),(2,'admin','Administrator','System administration','[\"user_management\", \"exam_management\", \"settings\"]',1,'2025-11-22 10:33:32'),(3,'moderator','Moderator','Content moderation','[\"user_verification\", \"content_moderation\"]',1,'2025-11-22 10:33:32');
/*!40000 ALTER TABLE `admin_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `admin_level` enum('super_admin','admin','moderator') DEFAULT 'admin',
  `can_delete_users` tinyint(1) DEFAULT 0,
  `can_modify_exams` tinyint(1) DEFAULT 1,
  `can_view_reports` tinyint(1) DEFAULT 1,
  `can_manage_settings` tinyint(1) DEFAULT 0,
  `last_login` timestamp NULL DEFAULT NULL,
  `login_count` int(11) DEFAULT 0,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_level` (`admin_level`),
  CONSTRAINT `admins_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Admin user details';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (1,1,'super_admin',1,1,1,1,NULL,0,1,'2025-11-22 10:37:18','2025-11-22 10:37:18');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `approvals`
--

DROP TABLE IF EXISTS `approvals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `approvals` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `exam_id` int(11) DEFAULT NULL,
  `approver_id` int(11) DEFAULT NULL,
  `approver_role` varchar(50) DEFAULT NULL,
  `decision` enum('approved','rejected','changes_requested') DEFAULT NULL,
  `comments` text DEFAULT NULL,
  `requester_id` int(11) NOT NULL,
  `type` varchar(100) NOT NULL,
  `status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `processed_by` int(11) DEFAULT NULL,
  `processed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `requester_id` (`requester_id`),
  KEY `idx_exam_id` (`exam_id`),
  KEY `idx_approver` (`approver_id`),
  CONSTRAINT `approvals_ibfk_1` FOREIGN KEY (`requester_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approvals`
--

LOCK TABLES `approvals` WRITE;
/*!40000 ALTER TABLE `approvals` DISABLE KEYS */;
/*!40000 ALTER TABLE `approvals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assignments`
--

DROP TABLE IF EXISTS `assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assignments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `faculty_id` int(11) NOT NULL,
  `exam_id` int(11) NOT NULL,
  `role` varchar(100) DEFAULT 'Invigilator',
  `assigned_by` int(11) DEFAULT NULL COMMENT 'User ID who made the assignment (for HOD nominations)',
  `status` varchar(50) DEFAULT 'Assigned' COMMENT 'Assignment status',
  `notes` text DEFAULT NULL COMMENT 'Additional notes about assignment',
  PRIMARY KEY (`id`),
  KEY `faculty_id` (`faculty_id`),
  KEY `exam_id` (`exam_id`),
  KEY `idx_faculty_assignments` (`faculty_id`,`exam_id`),
  KEY `idx_exam_assignments` (`exam_id`),
  KEY `idx_assigned_by` (`assigned_by`),
  CONSTRAINT `assignments_ibfk_1` FOREIGN KEY (`faculty_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `assignments_ibfk_2` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assignments`
--

LOCK TABLES `assignments` WRITE;
/*!40000 ALTER TABLE `assignments` DISABLE KEYS */;
/*!40000 ALTER TABLE `assignments` ENABLE KEYS */;
UNLOCK TABLES;
ALTER DATABASE `eems` CHARACTER SET latin1 COLLATE latin1_swedish_ci ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER IF NOT EXISTS after_assignment_insert
AFTER INSERT ON assignments
FOR EACH ROW
BEGIN
    INSERT INTO notifications (user_id, type, title, message, related_id, related_type)
    VALUES (NEW.faculty_id, 'exam_duty', 'New Exam Assignment', 
            CONCAT('Assigned as ', NEW.role), NEW.exam_id, 'exams');
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
ALTER DATABASE `eems` CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci ;

--
-- Table structure for table `audit_log`
--

DROP TABLE IF EXISTS `audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_log` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `table_name` varchar(100) DEFAULT NULL,
  `record_id` int(11) DEFAULT NULL,
  `old_value` text DEFAULT NULL,
  `new_value` text DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`log_id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_action` (`action`),
  KEY `idx_table` (`table_name`,`record_id`),
  KEY `idx_created` (`created_at`),
  CONSTRAINT `audit_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_log`
--

LOCK TABLES `audit_log` WRITE;
/*!40000 ALTER TABLE `audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `resource_type` varchar(50) DEFAULT NULL,
  `resource_id` int(11) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  `admin_id` int(11) NOT NULL,
  `action` varchar(255) NOT NULL,
  `details` text DEFAULT NULL,
  `metadata_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata_json`)),
  `ip_address` varchar(45) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `admin_id` (`admin_id`),
  KEY `created_at` (`created_at`),
  KEY `idx_resource` (`resource_type`,`resource_id`),
  KEY `idx_user_action` (`user_id`,`action`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `college_notices`
--

DROP TABLE IF EXISTS `college_notices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `college_notices` (
  `notice_id` int(11) NOT NULL AUTO_INCREMENT,
  `college_name` varchar(255) NOT NULL,
  `posted_by` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `notice_date` date NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `expires_at` date DEFAULT NULL,
  `priority` enum('low','normal','high','urgent') DEFAULT 'normal',
  `is_active` tinyint(1) DEFAULT 1,
  `file_path` varchar(500) DEFAULT NULL,
  `file_type` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`notice_id`),
  KEY `idx_college` (`college_name`),
  KEY `idx_date` (`notice_date`),
  KEY `posted_by` (`posted_by`),
  CONSTRAINT `college_notices_ibfk_1` FOREIGN KEY (`posted_by`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `college_notices`
--

LOCK TABLES `college_notices` WRITE;
/*!40000 ALTER TABLE `college_notices` DISABLE KEYS */;
/*!40000 ALTER TABLE `college_notices` ENABLE KEYS */;
UNLOCK TABLES;
ALTER DATABASE `eems` CHARACTER SET latin1 COLLATE latin1_swedish_ci ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER IF NOT EXISTS after_notice_insert
AFTER INSERT ON college_notices
FOR EACH ROW
BEGIN
    INSERT INTO notifications (user_id, type, title, message, related_id, related_type)
    SELECT id, 'notice', NEW.title, LEFT(NEW.content, 100), NEW.notice_id, 'college_notices'
    FROM users
    WHERE college_name = NEW.college_name AND id != NEW.posted_by;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
ALTER DATABASE `eems` CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci ;

--
-- Table structure for table `college_settings`
--

DROP TABLE IF EXISTS `college_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `college_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `college_id` int(11) NOT NULL,
  `settings_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Notification prefs, timezone, approval rules, etc.' CHECK (json_valid(`settings_json`)),
  `timezone` varchar(50) DEFAULT 'Asia/Kolkata',
  `notification_enabled` tinyint(1) DEFAULT 1,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_college` (`college_id`),
  KEY `fk_college_settings_updater` (`updated_by`),
  CONSTRAINT `fk_college_settings_college` FOREIGN KEY (`college_id`) REFERENCES `colleges` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_college_settings_updater` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `college_settings`
--

LOCK TABLES `college_settings` WRITE;
/*!40000 ALTER TABLE `college_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `college_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `colleges`
--

DROP TABLE IF EXISTS `colleges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `colleges` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `college_name` varchar(255) NOT NULL,
  `college_code` varchar(50) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `pincode` varchar(10) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `principal_name` varchar(255) DEFAULT NULL,
  `principal_id` int(11) DEFAULT NULL,
  `affiliation` varchar(255) DEFAULT NULL COMMENT 'University affiliation',
  `established_year` int(11) DEFAULT NULL,
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `college_name` (`college_name`),
  KEY `idx_name` (`college_name`),
  KEY `idx_city` (`city`),
  KEY `idx_active` (`is_active`),
  KEY `principal_id` (`principal_id`),
  CONSTRAINT `colleges_ibfk_1` FOREIGN KEY (`principal_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Master colleges list';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `colleges`
--

LOCK TABLES `colleges` WRITE;
/*!40000 ALTER TABLE `colleges` DISABLE KEYS */;
/*!40000 ALTER TABLE `colleges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `delegated_permissions`
--

DROP TABLE IF EXISTS `delegated_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `delegated_permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `delegator_id` int(11) NOT NULL COMMENT 'User delegating permission',
  `delegate_id` int(11) NOT NULL COMMENT 'User receiving permission',
  `permission_type` enum('admin','hod','teacher_approval') NOT NULL,
  `granted_at` timestamp NULL DEFAULT current_timestamp(),
  `expires_at` timestamp NULL DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_delegation` (`delegator_id`,`delegate_id`,`permission_type`),
  KEY `idx_delegate` (`delegate_id`),
  KEY `idx_active` (`is_active`),
  CONSTRAINT `delegated_permissions_ibfk_1` FOREIGN KEY (`delegator_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `delegated_permissions_ibfk_2` FOREIGN KEY (`delegate_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Temporary permission delegation';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `delegated_permissions`
--

LOCK TABLES `delegated_permissions` WRITE;
/*!40000 ALTER TABLE `delegated_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `delegated_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `college_id` int(11) DEFAULT NULL,
  `dept_name` varchar(255) NOT NULL,
  `dept_code` varchar(50) DEFAULT NULL,
  `hod_id` int(11) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_college` (`college_id`),
  KEY `idx_hod` (`hod_id`),
  CONSTRAINT `departments_ibfk_1` FOREIGN KEY (`college_id`) REFERENCES `colleges` (`id`) ON DELETE CASCADE,
  CONSTRAINT `departments_ibfk_2` FOREIGN KEY (`hod_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='College departments';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_logs`
--

DROP TABLE IF EXISTS `email_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `email_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `recipient_email` varchar(255) NOT NULL,
  `subject` varchar(500) NOT NULL,
  `body` text DEFAULT NULL,
  `email_type` enum('verification','notification','password_reset','exam_assignment','general') DEFAULT 'general',
  `status` enum('pending','sent','failed') DEFAULT 'pending',
  `sent_at` timestamp NULL DEFAULT NULL,
  `error_message` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_status` (`status`),
  KEY `idx_type` (`email_type`),
  KEY `idx_created` (`created_at`),
  CONSTRAINT `email_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Email sending logs';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_logs`
--

LOCK TABLES `email_logs` WRITE;
/*!40000 ALTER TABLE `email_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `email_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exam_assignments`
--

DROP TABLE IF EXISTS `exam_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exam_assignments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `exam_id` int(11) NOT NULL,
  `faculty_user_id` int(11) NOT NULL,
  `role_assigned` enum('invigilator','paper_setter','evaluator','external_examiner') DEFAULT 'invigilator',
  `duty_type` varchar(100) DEFAULT NULL,
  `status` enum('assigned','accepted','completed','cancelled') DEFAULT 'assigned',
  `assigned_by` int(11) DEFAULT NULL,
  `assigned_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_exam` (`exam_id`),
  KEY `idx_faculty` (`faculty_user_id`),
  KEY `fk_exam_assignment_assigner` (`assigned_by`),
  CONSTRAINT `fk_exam_assignment_assigner` FOREIGN KEY (`assigned_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_exam_assignment_exam` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_exam_assignment_faculty` FOREIGN KEY (`faculty_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exam_assignments`
--

LOCK TABLES `exam_assignments` WRITE;
/*!40000 ALTER TABLE `exam_assignments` DISABLE KEYS */;
/*!40000 ALTER TABLE `exam_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exam_invites`
--

DROP TABLE IF EXISTS `exam_invites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exam_invites` (
  `invite_id` int(11) NOT NULL AUTO_INCREMENT,
  `exam_id` int(11) NOT NULL,
  `invitee_user_id` int(11) DEFAULT NULL COMMENT 'NULL if external email only',
  `invitee_email` varchar(255) NOT NULL,
  `invitee_name` varchar(255) DEFAULT NULL,
  `role` enum('moderator','evaluator','invigilator','paper_setter','external_examiner') NOT NULL,
  `token` varchar(64) NOT NULL,
  `status` enum('pending','accepted','declined','expired') DEFAULT 'pending',
  `invited_on` timestamp NOT NULL DEFAULT current_timestamp(),
  `responded_on` timestamp NULL DEFAULT NULL,
  `response` text DEFAULT NULL COMMENT 'Accept/Decline message from invitee',
  `response_comment` text DEFAULT NULL,
  `availability_dates` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Available date ranges from invitee' CHECK (json_valid(`availability_dates`)),
  `created_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`invite_id`),
  UNIQUE KEY `token` (`token`),
  KEY `idx_exam` (`exam_id`),
  KEY `idx_invitee` (`invitee_user_id`),
  KEY `idx_token` (`token`),
  KEY `idx_status` (`status`),
  KEY `fk_exam_invites_creator` (`created_by`),
  CONSTRAINT `fk_exam_invites_creator` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_exam_invites_exam` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_exam_invites_user` FOREIGN KEY (`invitee_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exam_invites`
--

LOCK TABLES `exam_invites` WRITE;
/*!40000 ALTER TABLE `exam_invites` DISABLE KEYS */;
/*!40000 ALTER TABLE `exam_invites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exam_roles`
--

DROP TABLE IF EXISTS `exam_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exam_roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `exam_id` int(11) NOT NULL,
  `role_type` enum('moderator','evaluator','invigilator','paper_setter','external_examiner') NOT NULL,
  `required_count` int(11) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_exam` (`exam_id`),
  CONSTRAINT `fk_exam_roles_exam` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exam_roles`
--

LOCK TABLES `exam_roles` WRITE;
/*!40000 ALTER TABLE `exam_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `exam_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exam_schedule`
--

DROP TABLE IF EXISTS `exam_schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exam_schedule` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `exam_id` int(11) NOT NULL,
  `exam_date` date NOT NULL,
  `start_time` time NOT NULL,
  `end_time` time NOT NULL,
  `venue` varchar(255) DEFAULT NULL,
  `room_number` varchar(50) DEFAULT NULL,
  `max_capacity` int(11) DEFAULT 0,
  `current_enrolled` int(11) DEFAULT 0,
  `invigilator_id` int(11) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `status` enum('scheduled','ongoing','completed','cancelled') DEFAULT 'scheduled',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_exam` (`exam_id`),
  KEY `idx_date` (`exam_date`),
  KEY `idx_invigilator` (`invigilator_id`),
  CONSTRAINT `exam_schedule_ibfk_1` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE CASCADE,
  CONSTRAINT `exam_schedule_ibfk_2` FOREIGN KEY (`invigilator_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Exam scheduling details';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exam_schedule`
--

LOCK TABLES `exam_schedule` WRITE;
/*!40000 ALTER TABLE `exam_schedule` DISABLE KEYS */;
INSERT INTO `exam_schedule` VALUES (1,1,'2024-06-01','09:00:00','12:00:00','Main Hall - Science',NULL,0,0,NULL,NULL,'scheduled','2025-11-22 10:37:18','2025-11-22 10:37:18'),(2,2,'2024-06-16','09:00:00','12:00:00','Main Hall - Arts',NULL,0,0,NULL,NULL,'scheduled','2025-11-22 10:37:18','2025-11-22 10:37:18');
/*!40000 ALTER TABLE `exam_schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `examiner_nominations`
--

DROP TABLE IF EXISTS `examiner_nominations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `examiner_nominations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `dept` varchar(128) DEFAULT NULL,
  `examiner_name` varchar(255) NOT NULL,
  `role` varchar(255) DEFAULT NULL,
  `status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `dept` (`dept`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `examiner_nominations`
--

LOCK TABLES `examiner_nominations` WRITE;
/*!40000 ALTER TABLE `examiner_nominations` DISABLE KEYS */;
INSERT INTO `examiner_nominations` VALUES (1,'Computer Science','Dr. Kumar Sharma','External Examiner','pending',3,'2025-11-22 16:07:18'),(2,'Mathematics','Prof. Anita Desai','Chief Examiner','approved',3,'2025-11-22 16:07:18'),(3,'Physics','Dr. Rajesh Kumar','External Examiner','pending',3,'2025-11-22 16:07:18');
/*!40000 ALTER TABLE `examiner_nominations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `examiner_pool`
--

DROP TABLE IF EXISTS `examiner_pool`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `examiner_pool` (
  `pool_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `department` varchar(100) NOT NULL,
  `expertise_area` text DEFAULT NULL,
  `total_assignments` int(11) DEFAULT 0,
  `last_assigned_date` date DEFAULT NULL,
  `availability_status` enum('available','busy','unavailable') DEFAULT 'available',
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `college_name` varchar(255) NOT NULL,
  PRIMARY KEY (`pool_id`),
  UNIQUE KEY `unique_user` (`user_id`),
  KEY `idx_department` (`department`),
  KEY `idx_status` (`availability_status`),
  KEY `idx_location` (`latitude`,`longitude`),
  CONSTRAINT `examiner_pool_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `examiner_pool`
--

LOCK TABLES `examiner_pool` WRITE;
/*!40000 ALTER TABLE `examiner_pool` DISABLE KEYS */;
INSERT INTO `examiner_pool` VALUES (1,2,'General','[\"General Education\", \"Exam Administration\"]',0,NULL,'available',NULL,NULL,'Science College'),(2,3,'General','[\"General Education\", \"Exam Administration\"]',0,NULL,'available',NULL,NULL,'Arts College'),(3,4,'General','[\"General Education\", \"Exam Administration\"]',0,NULL,'available',NULL,NULL,'Tech College');
/*!40000 ALTER TABLE `examiner_pool` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `examiner_ratings`
--

DROP TABLE IF EXISTS `examiner_ratings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `examiner_ratings` (
  `rating_id` int(11) NOT NULL AUTO_INCREMENT,
  `examiner_id` int(11) NOT NULL,
  `rated_by` int(11) NOT NULL,
  `exam_id` int(11) DEFAULT NULL,
  `overall_rating` int(11) NOT NULL CHECK (`overall_rating` between 1 and 5),
  `punctuality` int(11) DEFAULT NULL CHECK (`punctuality` between 1 and 5),
  `professionalism` int(11) DEFAULT NULL CHECK (`professionalism` between 1 and 5),
  `feedback` text DEFAULT NULL,
  `rated_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`rating_id`),
  KEY `idx_examiner` (`examiner_id`),
  KEY `idx_exam` (`exam_id`),
  KEY `rated_by` (`rated_by`),
  CONSTRAINT `examiner_ratings_ibfk_1` FOREIGN KEY (`examiner_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `examiner_ratings_ibfk_2` FOREIGN KEY (`rated_by`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `examiner_ratings_ibfk_3` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `examiner_ratings`
--

LOCK TABLES `examiner_ratings` WRITE;
/*!40000 ALTER TABLE `examiner_ratings` DISABLE KEYS */;
/*!40000 ALTER TABLE `examiner_ratings` ENABLE KEYS */;
UNLOCK TABLES;
ALTER DATABASE `eems` CHARACTER SET latin1 COLLATE latin1_swedish_ci ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER IF NOT EXISTS after_rating_insert
AFTER INSERT ON examiner_ratings
FOR EACH ROW
BEGIN
    UPDATE users
    SET avg_rating = (SELECT AVG(overall_rating) FROM examiner_ratings WHERE examiner_id = NEW.examiner_id),
        rating_count = (SELECT COUNT(*) FROM examiner_ratings WHERE examiner_id = NEW.examiner_id)
    WHERE id = NEW.examiner_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
ALTER DATABASE `eems` CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci ;

--
-- Table structure for table `examiner_requests`
--

DROP TABLE IF EXISTS `examiner_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `examiner_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hod_name` varchar(255) DEFAULT NULL,
  `examiner` varchar(255) DEFAULT NULL,
  `purpose` varchar(255) DEFAULT NULL,
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `examiner_requests`
--

LOCK TABLES `examiner_requests` WRITE;
/*!40000 ALTER TABLE `examiner_requests` DISABLE KEYS */;
INSERT INTO `examiner_requests` VALUES (1,'Dr. John Smith','Prof. Sharma','Final Year Examination','pending','2025-11-22 16:07:18'),(2,'Dr. Jane Doe','Dr. Kumar','Mid-term Assessment','approved','2025-11-22 16:07:18');
/*!40000 ALTER TABLE `examiner_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exams`
--

DROP TABLE IF EXISTS `exams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exams` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `course_code` varchar(50) DEFAULT NULL,
  `exam_date` date NOT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `status` enum('draft','submitted','approved','rejected','assigned','in_progress','completed','cancelled') DEFAULT 'draft',
  `description` text DEFAULT NULL,
  `attachments_meta` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`attachments_meta`)),
  `subject` varchar(255) DEFAULT NULL,
  `college_id` int(11) DEFAULT NULL,
  `department_id` int(11) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_exam_status` (`status`),
  KEY `idx_exam_date` (`exam_date`),
  KEY `idx_exam_college` (`college_id`),
  KEY `idx_college_id` (`college_id`),
  KEY `idx_status_college` (`status`,`college_id`),
  KEY `idx_exams_college` (`college_id`),
  KEY `idx_exams_dept` (`department_id`),
  KEY `idx_exams_date` (`exam_date`),
  KEY `idx_exams_status` (`status`),
  KEY `fk_exams_creator` (`created_by`),
  CONSTRAINT `fk_exam_creator` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_exams_college` FOREIGN KEY (`college_id`) REFERENCES `colleges` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_exams_creator` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_exams_dept` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exams`
--

LOCK TABLES `exams` WRITE;
/*!40000 ALTER TABLE `exams` DISABLE KEYS */;
/*!40000 ALTER TABLE `exams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `external_examiners`
--

DROP TABLE IF EXISTS `external_examiners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `external_examiners` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `institution` varchar(255) DEFAULT NULL,
  `origin_college` varchar(255) DEFAULT NULL,
  `expertise` varchar(255) DEFAULT NULL,
  `dept` varchar(128) DEFAULT NULL,
  `availability` date DEFAULT NULL,
  `past_assignments` int(11) DEFAULT 0,
  `status` enum('pending','confirmed','declined') DEFAULT 'pending',
  `profile_score` decimal(3,2) DEFAULT 0.00,
  `last_active` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `external_examiners`
--

LOCK TABLES `external_examiners` WRITE;
/*!40000 ALTER TABLE `external_examiners` DISABLE KEYS */;
/*!40000 ALTER TABLE `external_examiners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faculty_availability`
--

DROP TABLE IF EXISTS `faculty_availability`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `faculty_availability` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `faculty_id` int(11) NOT NULL,
  `unavailable_date` date NOT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `faculty_id` (`faculty_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faculty_availability`
--

LOCK TABLES `faculty_availability` WRITE;
/*!40000 ALTER TABLE `faculty_availability` DISABLE KEYS */;
INSERT INTO `faculty_availability` VALUES (1,2,'2025-12-07',2,'2025-11-22 10:37:18'),(2,3,'2025-12-12',3,'2025-11-22 10:37:18');
/*!40000 ALTER TABLE `faculty_availability` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `file_uploads`
--

DROP TABLE IF EXISTS `file_uploads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `file_uploads` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_type` varchar(100) DEFAULT NULL,
  `file_size` int(11) DEFAULT 0 COMMENT 'Bytes',
  `upload_category` enum('profile_photo','document','notice','forum','exam','other') DEFAULT 'other',
  `related_id` int(11) DEFAULT NULL COMMENT 'ID of related record',
  `related_type` varchar(50) DEFAULT NULL COMMENT 'Type of related record',
  `is_public` tinyint(1) DEFAULT 0,
  `uploaded_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_category` (`upload_category`),
  KEY `idx_related` (`related_type`,`related_id`),
  CONSTRAINT `file_uploads_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='File upload tracking';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `file_uploads`
--

LOCK TABLES `file_uploads` WRITE;
/*!40000 ALTER TABLE `file_uploads` DISABLE KEYS */;
INSERT INTO `file_uploads` VALUES (1,1,'exam_schedule.pdf','/uploads/exams/exam_schedule_2025.pdf','application/pdf',245678,'exam',NULL,NULL,0,'2025-11-20 10:37:18'),(2,1,'notice_board.jpg','/uploads/notices/notice_2025.jpg','image/jpeg',156789,'notice',NULL,NULL,0,'2025-11-21 10:37:18');
/*!40000 ALTER TABLE `file_uploads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `forum_attachments`
--

DROP TABLE IF EXISTS `forum_attachments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `forum_attachments` (
  `attachment_id` int(11) NOT NULL AUTO_INCREMENT,
  `post_id` int(11) DEFAULT NULL,
  `reply_id` int(11) DEFAULT NULL,
  `uploaded_by` int(11) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_size` int(11) NOT NULL,
  `file_type` varchar(50) NOT NULL,
  `uploaded_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`attachment_id`),
  KEY `idx_post` (`post_id`),
  KEY `idx_reply` (`reply_id`),
  KEY `uploaded_by` (`uploaded_by`),
  CONSTRAINT `forum_attachments_ibfk_1` FOREIGN KEY (`post_id`) REFERENCES `forum_posts` (`post_id`) ON DELETE CASCADE,
  CONSTRAINT `forum_attachments_ibfk_2` FOREIGN KEY (`reply_id`) REFERENCES `forum_replies` (`reply_id`) ON DELETE CASCADE,
  CONSTRAINT `forum_attachments_ibfk_3` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `forum_attachments`
--

LOCK TABLES `forum_attachments` WRITE;
/*!40000 ALTER TABLE `forum_attachments` DISABLE KEYS */;
/*!40000 ALTER TABLE `forum_attachments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `forum_categories`
--

DROP TABLE IF EXISTS `forum_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `forum_categories` (
  `category_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `icon` varchar(50) DEFAULT NULL,
  `display_order` int(11) DEFAULT 0,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`category_id`),
  UNIQUE KEY `name` (`name`),
  KEY `idx_order` (`display_order`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `forum_categories`
--

LOCK TABLES `forum_categories` WRITE;
/*!40000 ALTER TABLE `forum_categories` DISABLE KEYS */;
INSERT INTO `forum_categories` VALUES (1,'General Discussion','General topics and announcements','chat',1,1,'2025-11-22 09:50:19'),(2,'Exam Coordination','Discuss exam scheduling and assignments','calendar',2,1,'2025-11-22 09:50:19'),(3,'Technical Support','Help with the EEMS system','help',3,1,'2025-11-22 09:50:19');
/*!40000 ALTER TABLE `forum_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `forum_posts`
--

DROP TABLE IF EXISTS `forum_posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `forum_posts` (
  `post_id` int(11) NOT NULL AUTO_INCREMENT,
  `category_id` int(11) NOT NULL,
  `author_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `is_pinned` tinyint(1) DEFAULT 0,
  `is_locked` tinyint(1) DEFAULT 0,
  `view_count` int(11) DEFAULT 0,
  `reply_count` int(11) DEFAULT 0,
  `last_reply_at` timestamp NULL DEFAULT NULL,
  `last_reply_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`post_id`),
  KEY `idx_category` (`category_id`),
  KEY `idx_author` (`author_id`),
  KEY `idx_created` (`created_at`),
  KEY `idx_pinned` (`is_pinned`,`created_at`),
  KEY `last_reply_by` (`last_reply_by`),
  CONSTRAINT `forum_posts_ibfk_1` FOREIGN KEY (`category_id`) REFERENCES `forum_categories` (`category_id`) ON DELETE CASCADE,
  CONSTRAINT `forum_posts_ibfk_2` FOREIGN KEY (`author_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `forum_posts_ibfk_3` FOREIGN KEY (`last_reply_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `forum_posts`
--

LOCK TABLES `forum_posts` WRITE;
/*!40000 ALTER TABLE `forum_posts` DISABLE KEYS */;
/*!40000 ALTER TABLE `forum_posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `forum_replies`
--

DROP TABLE IF EXISTS `forum_replies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `forum_replies` (
  `reply_id` int(11) NOT NULL AUTO_INCREMENT,
  `post_id` int(11) NOT NULL,
  `author_id` int(11) NOT NULL,
  `content` text NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `is_solution` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`reply_id`),
  KEY `idx_post` (`post_id`,`created_at`),
  KEY `idx_author` (`author_id`),
  CONSTRAINT `forum_replies_ibfk_1` FOREIGN KEY (`post_id`) REFERENCES `forum_posts` (`post_id`) ON DELETE CASCADE,
  CONSTRAINT `forum_replies_ibfk_2` FOREIGN KEY (`author_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `forum_replies`
--

LOCK TABLES `forum_replies` WRITE;
/*!40000 ALTER TABLE `forum_replies` DISABLE KEYS */;
/*!40000 ALTER TABLE `forum_replies` ENABLE KEYS */;
UNLOCK TABLES;
ALTER DATABASE `eems` CHARACTER SET latin1 COLLATE latin1_swedish_ci ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER IF NOT EXISTS after_forum_reply_insert
AFTER INSERT ON forum_replies
FOR EACH ROW
BEGIN
    UPDATE forum_posts 
    SET reply_count = reply_count + 1,
        last_reply_at = NEW.created_at,
        last_reply_by = NEW.author_id
    WHERE post_id = NEW.post_id;
    
    
    INSERT INTO notifications (user_id, type, title, message, related_id, related_type)
    SELECT author_id, 'forum', 'New Reply', CONCAT('New reply on: ', title), NEW.post_id, 'forum_posts'
    FROM forum_posts WHERE post_id = NEW.post_id AND author_id != NEW.author_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
ALTER DATABASE `eems` CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci ;

--
-- Table structure for table `import_history`
--

DROP TABLE IF EXISTS `import_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `import_history` (
  `import_id` int(11) NOT NULL AUTO_INCREMENT,
  `imported_by` int(11) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_type` enum('csv','xlsx') NOT NULL,
  `records_total` int(11) NOT NULL,
  `records_success` int(11) NOT NULL,
  `records_failed` int(11) NOT NULL,
  `error_log` text DEFAULT NULL,
  `imported_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`import_id`),
  KEY `idx_imported_by` (`imported_by`),
  KEY `idx_date` (`imported_at`),
  CONSTRAINT `import_history_ibfk_1` FOREIGN KEY (`imported_by`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='CSV/Excel import tracking';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `import_history`
--

LOCK TABLES `import_history` WRITE;
/*!40000 ALTER TABLE `import_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `import_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notices`
--

DROP TABLE IF EXISTS `notices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `content` text NOT NULL,
  `priority` enum('low','medium','high') DEFAULT 'medium',
  `target_role` varchar(50) DEFAULT 'all',
  `posted_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `posted_by` (`posted_by`),
  CONSTRAINT `notices_ibfk_1` FOREIGN KEY (`posted_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notices`
--

LOCK TABLES `notices` WRITE;
/*!40000 ALTER TABLE `notices` DISABLE KEYS */;
/*!40000 ALTER TABLE `notices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_settings`
--

DROP TABLE IF EXISTS `notification_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notification_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `email_notifications` tinyint(1) DEFAULT 1,
  `sms_notifications` tinyint(1) DEFAULT 0,
  `push_notifications` tinyint(1) DEFAULT 1,
  `exam_reminders` tinyint(1) DEFAULT 1,
  `assignment_alerts` tinyint(1) DEFAULT 1,
  `approval_updates` tinyint(1) DEFAULT 1,
  `forum_replies` tinyint(1) DEFAULT 1,
  `notice_board` tinyint(1) DEFAULT 1,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `notification_settings_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='User notification preferences';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_settings`
--

LOCK TABLES `notification_settings` WRITE;
/*!40000 ALTER TABLE `notification_settings` DISABLE KEYS */;
INSERT INTO `notification_settings` VALUES (1,1,1,0,1,1,1,1,1,1,'2025-11-22 10:37:18'),(2,2,1,0,1,1,1,1,1,1,'2025-11-22 10:37:18'),(3,3,1,0,1,1,1,1,1,1,'2025-11-22 10:37:18'),(4,4,1,0,1,1,1,1,1,1,'2025-11-22 10:37:18');
/*!40000 ALTER TABLE `notification_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `notification_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `type` enum('assignment','approval','exam_duty','message','rating','system','forum','notice') NOT NULL,
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `related_id` int(11) DEFAULT NULL,
  `related_type` varchar(50) DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `priority` enum('low','normal','high') DEFAULT 'normal',
  `action_url` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`notification_id`),
  KEY `idx_user_unread` (`user_id`,`is_read`),
  KEY `idx_created` (`created_at`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permissions` (
  `user_id` int(11) NOT NULL,
  `principal_access` tinyint(1) NOT NULL DEFAULT 0,
  `vice_access` tinyint(1) NOT NULL DEFAULT 0,
  `hod_access` tinyint(1) NOT NULL DEFAULT 0,
  `teacher_access` tinyint(1) NOT NULL DEFAULT 0,
  `module_overview` tinyint(1) DEFAULT 1,
  `module_user_management` tinyint(1) DEFAULT 0,
  `module_exam_management` tinyint(1) DEFAULT 0,
  `module_approvals` tinyint(1) DEFAULT 0,
  `module_available_exams` tinyint(1) DEFAULT 1,
  `module_permissions` tinyint(1) DEFAULT 0,
  `module_analytics` tinyint(1) DEFAULT 0,
  `module_audit_logs` tinyint(1) DEFAULT 0,
  `module_settings` tinyint(1) DEFAULT 0,
  `module_principal_dash` tinyint(1) DEFAULT 0,
  `module_vice_dash` tinyint(1) DEFAULT 0,
  `module_hod_dash` tinyint(1) DEFAULT 0,
  `module_teacher_dash` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `permissions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
INSERT INTO `permissions` VALUES (1,1,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,1),(2,1,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,1),(3,1,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,1),(4,1,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,1),(9,1,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,1);
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `practical_attempts`
--

DROP TABLE IF EXISTS `practical_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `practical_attempts` (
  `attempt_id` int(11) NOT NULL AUTO_INCREMENT,
  `session_id` int(11) NOT NULL,
  `student_id` varchar(100) NOT NULL,
  `slip_id` varchar(100) NOT NULL COMMENT 'Unique slip identifier',
  `recording_path` varchar(500) DEFAULT NULL COMMENT 'Desktop recording file path',
  `outputs_path` varchar(500) DEFAULT NULL COMMENT 'Student outputs/code path',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `finalized_at` timestamp NULL DEFAULT NULL,
  `marks` decimal(5,2) DEFAULT NULL,
  `evaluated_by` int(11) DEFAULT NULL,
  `evaluation_comments` text DEFAULT NULL,
  PRIMARY KEY (`attempt_id`),
  UNIQUE KEY `slip_id` (`slip_id`),
  KEY `idx_session` (`session_id`),
  KEY `idx_student` (`student_id`),
  KEY `idx_slip` (`slip_id`),
  KEY `idx_evaluator` (`evaluated_by`),
  CONSTRAINT `fk_practical_attempts_evaluator` FOREIGN KEY (`evaluated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_practical_attempts_session` FOREIGN KEY (`session_id`) REFERENCES `practical_sessions` (`session_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `practical_attempts`
--

LOCK TABLES `practical_attempts` WRITE;
/*!40000 ALTER TABLE `practical_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `practical_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `practical_sessions`
--

DROP TABLE IF EXISTS `practical_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `practical_sessions` (
  `session_id` int(11) NOT NULL AUTO_INCREMENT,
  `exam_id` int(11) NOT NULL,
  `college_id` int(11) NOT NULL,
  `lab_id` varchar(100) DEFAULT NULL,
  `start_time` datetime NOT NULL,
  `end_time` datetime NOT NULL,
  `status` enum('scheduled','in_progress','completed','cancelled') DEFAULT 'scheduled',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`session_id`),
  KEY `idx_exam` (`exam_id`),
  KEY `idx_college` (`college_id`),
  KEY `idx_start_time` (`start_time`),
  CONSTRAINT `fk_practical_sessions_exam` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `practical_sessions`
--

LOCK TABLES `practical_sessions` WRITE;
/*!40000 ALTER TABLE `practical_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `practical_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profile_field_locks`
--

DROP TABLE IF EXISTS `profile_field_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `profile_field_locks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `field_name` varchar(100) NOT NULL COMMENT 'email, phone, college_name, etc',
  `locked_by` int(11) NOT NULL COMMENT 'Admin who locked the field',
  `locked_at` timestamp NULL DEFAULT current_timestamp(),
  `reason` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_lock` (`user_id`,`field_name`),
  KEY `idx_user` (`user_id`),
  KEY `idx_locked_by` (`locked_by`),
  CONSTRAINT `profile_field_locks_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `profile_field_locks_ibfk_2` FOREIGN KEY (`locked_by`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Locked profile fields by admin';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profile_field_locks`
--

LOCK TABLES `profile_field_locks` WRITE;
/*!40000 ALTER TABLE `profile_field_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `profile_field_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profile_update_requests`
--

DROP TABLE IF EXISTS `profile_update_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `profile_update_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `field_name` varchar(100) NOT NULL,
  `current_value` text NOT NULL,
  `requested_value` text NOT NULL,
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `requested_at` timestamp NULL DEFAULT current_timestamp(),
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `reviewed_by` int(11) DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_status` (`status`),
  KEY `reviewed_by` (`reviewed_by`),
  CONSTRAINT `profile_update_requests_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `profile_update_requests_ibfk_2` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Pending profile changes requiring approval';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profile_update_requests`
--

LOCK TABLES `profile_update_requests` WRITE;
/*!40000 ALTER TABLE `profile_update_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `profile_update_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_papers`
--

DROP TABLE IF EXISTS `question_papers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `question_papers` (
  `paper_id` int(11) NOT NULL AUTO_INCREMENT,
  `exam_id` int(11) NOT NULL,
  `created_by` int(11) NOT NULL,
  `status` enum('draft','submitted','approved','locked') DEFAULT 'draft',
  `content_location` varchar(500) DEFAULT NULL COMMENT 'File path or cloud URL',
  `co_po_mapping_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Course Outcome to Program Outcome mapping' CHECK (json_valid(`co_po_mapping_json`)),
  `locked_by` int(11) DEFAULT NULL,
  `locked_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`paper_id`),
  KEY `idx_exam` (`exam_id`),
  KEY `idx_creator` (`created_by`),
  KEY `idx_locker` (`locked_by`),
  CONSTRAINT `fk_question_papers_creator` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_question_papers_exam` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_question_papers_locker` FOREIGN KEY (`locked_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_papers`
--

LOCK TABLES `question_papers` WRITE;
/*!40000 ALTER TABLE `question_papers` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_papers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ratings`
--

DROP TABLE IF EXISTS `ratings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ratings` (
  `rating_id` int(11) NOT NULL AUTO_INCREMENT,
  `examiner_id` int(11) NOT NULL COMMENT 'References external_examiners or users',
  `exam_id` int(11) DEFAULT NULL COMMENT 'Optional: link to specific exam',
  `rated_by_user_id` int(11) NOT NULL,
  `rated_by_role` varchar(50) NOT NULL,
  `college_id` int(11) DEFAULT NULL,
  `score` decimal(3,2) NOT NULL CHECK (`score` >= 1.0 and `score` <= 5.0),
  `comments` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`rating_id`),
  KEY `idx_examiner` (`examiner_id`),
  KEY `idx_exam` (`exam_id`),
  KEY `idx_rated_by` (`rated_by_user_id`),
  KEY `idx_college` (`college_id`),
  CONSTRAINT `fk_ratings_exam` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_ratings_rater` FOREIGN KEY (`rated_by_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ratings`
--

LOCK TABLES `ratings` WRITE;
/*!40000 ALTER TABLE `ratings` DISABLE KEYS */;
/*!40000 ALTER TABLE `ratings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `role_name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `level` int(11) DEFAULT 1 COMMENT 'Role hierarchy level',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='System roles';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'admin','System Administrator',10,'2025-11-22 10:33:32'),(2,'principal','College Principal',9,'2025-11-22 10:33:32'),(3,'vice_principal','Vice Principal',8,'2025-11-22 10:33:32'),(4,'hod','Head of Department',7,'2025-11-22 10:33:32'),(5,'teacher','Faculty Teacher',5,'2025-11-22 10:33:32'),(6,'student','Student',1,'2025-11-22 10:33:32');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schema_versions`
--

DROP TABLE IF EXISTS `schema_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schema_versions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `version` varchar(50) NOT NULL,
  `description` text DEFAULT NULL,
  `applied_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `applied_by` varchar(100) DEFAULT 'system',
  PRIMARY KEY (`id`),
  UNIQUE KEY `version` (`version`),
  KEY `idx_version` (`version`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Database schema versioning';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schema_versions`
--

LOCK TABLES `schema_versions` WRITE;
/*!40000 ALTER TABLE `schema_versions` DISABLE KEYS */;
INSERT INTO `schema_versions` VALUES (1,'2.0.0','Complete dashboard tables with all modules','2025-11-22 10:33:32','admin');
/*!40000 ALTER TABLE `schema_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `session_logs`
--

DROP TABLE IF EXISTS `session_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `session_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `session_id` varchar(255) NOT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `login_time` timestamp NOT NULL DEFAULT current_timestamp(),
  `logout_time` timestamp NULL DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_session` (`session_id`),
  KEY `idx_active` (`is_active`),
  CONSTRAINT `session_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='User session tracking';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `session_logs`
--

LOCK TABLES `session_logs` WRITE;
/*!40000 ALTER TABLE `session_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `session_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_settings` (
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`setting_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `timeline_events`
--

DROP TABLE IF EXISTS `timeline_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `timeline_events` (
  `event_id` int(11) NOT NULL AUTO_INCREMENT,
  `event_type` enum('exam','assignment','notice','approval','system') NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `event_date` date NOT NULL,
  `related_id` int(11) DEFAULT NULL,
  `related_type` varchar(50) DEFAULT NULL,
  `college_name` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`event_id`),
  KEY `idx_date` (`event_date`),
  KEY `idx_type` (`event_type`),
  KEY `idx_college` (`college_name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `timeline_events`
--

LOCK TABLES `timeline_events` WRITE;
/*!40000 ALTER TABLE `timeline_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `timeline_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_module_permissions`
--

DROP TABLE IF EXISTS `user_module_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_module_permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `module_name` varchar(50) NOT NULL,
  `can_access` tinyint(1) NOT NULL DEFAULT 0,
  `can_view` tinyint(1) NOT NULL DEFAULT 1,
  `can_edit` tinyint(1) NOT NULL DEFAULT 0,
  `can_delete` tinyint(1) NOT NULL DEFAULT 0,
  `can_export` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_module_unique` (`user_id`,`module_name`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_module_name` (`module_name`),
  CONSTRAINT `user_module_permissions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_module_permissions`
--

LOCK TABLES `user_module_permissions` WRITE;
/*!40000 ALTER TABLE `user_module_permissions` DISABLE KEYS */;
INSERT INTO `user_module_permissions` VALUES (1,1,'overview',1,1,0,0,0,'2025-11-22 10:10:34','2025-11-22 10:10:34'),(2,2,'overview',1,1,0,0,0,'2025-11-22 10:10:34','2025-11-22 10:10:34'),(3,3,'overview',1,1,0,0,0,'2025-11-22 10:10:34','2025-11-22 10:10:34'),(4,4,'overview',1,1,0,0,0,'2025-11-22 10:10:34','2025-11-22 10:10:34');
/*!40000 ALTER TABLE `user_module_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `user_permissions_view`
--

DROP TABLE IF EXISTS `user_permissions_view`;
/*!50001 DROP VIEW IF EXISTS `user_permissions_view`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `user_permissions_view` AS SELECT
 1 AS `user_id`,
  1 AS `user_name`,
  1 AS `email`,
  1 AS `role`,
  1 AS `principal_access`,
  1 AS `vice_access`,
  1 AS `hod_access`,
  1 AS `teacher_access`,
  1 AS `module_overview`,
  1 AS `module_user_management`,
  1 AS `module_exam_management`,
  1 AS `module_approvals`,
  1 AS `module_available_exams`,
  1 AS `module_permissions`,
  1 AS `module_analytics`,
  1 AS `module_audit_logs`,
  1 AS `module_settings`,
  1 AS `module_principal_dash`,
  1 AS `module_vice_dash`,
  1 AS `module_hod_dash`,
  1 AS `module_teacher_dash` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `gender` enum('male','female','other') DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `post` enum('admin','principal','vice_principal','hod','teacher','faculty') NOT NULL,
  `designation` varchar(255) DEFAULT NULL,
  `college_name` varchar(255) NOT NULL,
  `college_id` int(11) DEFAULT NULL,
  `department_id` int(11) DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `qualification` varchar(255) DEFAULT NULL,
  `experience` int(11) DEFAULT 0,
  `phone` varchar(20) NOT NULL,
  `employee_id` varchar(50) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `profile_photo` varchar(500) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `status` enum('pending','verified','rejected') NOT NULL DEFAULT 'pending',
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `last_login` timestamp NULL DEFAULT NULL,
  `expertise_area` text DEFAULT NULL COMMENT 'JSON array',
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `last_profile_update` timestamp NULL DEFAULT NULL,
  `profile_completion` int(11) DEFAULT 0 COMMENT 'Percentage',
  `avg_rating` decimal(3,2) DEFAULT NULL,
  `rating_count` int(11) DEFAULT 0,
  `onboarding_completed_at` timestamp NULL DEFAULT NULL,
  `onboarding_step` int(11) DEFAULT 0,
  `profile_data` text DEFAULT NULL COMMENT 'JSON data for teacher profile',
  `address` text DEFAULT NULL COMMENT 'User residential address',
  `profile_completed` tinyint(1) DEFAULT 0 COMMENT 'Whether teacher completed onboarding',
  `raw_password` varchar(255) DEFAULT 'Welcome@123' COMMENT 'Plain text password for admin reference',
  `verified_by` int(11) DEFAULT NULL COMMENT 'User ID who verified this account',
  `staff_id` varchar(50) DEFAULT NULL COMMENT 'Unique staff ID (fixed)',
  `date_of_joining` date DEFAULT NULL COMMENT 'Joining date (fixed)',
  `personal_email` varchar(255) DEFAULT NULL COMMENT 'Personal email (editable)',
  `alternate_phone` varchar(20) DEFAULT NULL COMMENT 'Alternate phone (editable)',
  `current_address` text DEFAULT NULL COMMENT 'Current address (editable)',
  `permanent_address` text DEFAULT NULL COMMENT 'Permanent address (editable)',
  `aadhar_number` varchar(12) DEFAULT NULL COMMENT 'Aadhar number',
  `specialization` varchar(255) DEFAULT NULL COMMENT 'Specialization/Subject',
  `experience_years` int(11) DEFAULT 0 COMMENT 'Years of experience',
  `emergency_contact_name` varchar(255) DEFAULT NULL COMMENT 'Emergency contact name',
  `emergency_contact_phone` varchar(20) DEFAULT NULL COMMENT 'Emergency contact phone',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_college_id` (`college_id`),
  KEY `idx_verified_by` (`verified_by`),
  KEY `idx_staff_id` (`staff_id`),
  KEY `idx_users_college` (`college_id`),
  KEY `idx_users_dept` (`department_id`),
  KEY `idx_users_role` (`post`),
  CONSTRAINT `fk_user_college` FOREIGN KEY (`college_id`) REFERENCES `colleges` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_users_college` FOREIGN KEY (`college_id`) REFERENCES `colleges` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_users_dept` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verifications`
--

DROP TABLE IF EXISTS `verifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `verifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `verification_type` enum('email','phone','document','admin_approval') DEFAULT 'admin_approval',
  `verification_code` varchar(100) DEFAULT NULL,
  `document_type` varchar(100) DEFAULT NULL COMMENT 'ID card, certificate, etc',
  `document_path` varchar(500) DEFAULT NULL,
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `requested_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `verified_at` timestamp NULL DEFAULT NULL,
  `verified_by` int(11) DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_status` (`status`),
  KEY `idx_type` (`verification_type`),
  KEY `verified_by` (`verified_by`),
  CONSTRAINT `verifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `verifications_ibfk_2` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='User verification tracking';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verifications`
--

LOCK TABLES `verifications` WRITE;
/*!40000 ALTER TABLE `verifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `verifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `vw_active_users`
--

DROP TABLE IF EXISTS `vw_active_users`;
/*!50001 DROP VIEW IF EXISTS `vw_active_users`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_active_users` AS SELECT
 1 AS `id`,
  1 AS `name`,
  1 AS `email`,
  1 AS `post`,
  1 AS `college_name`,
  1 AS `college_code`,
  1 AS `status`,
  1 AS `is_active`,
  1 AS `created_at`,
  1 AS `last_login`,
  1 AS `total_assignments`,
  1 AS `unread_notifications` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vw_college_stats`
--

DROP TABLE IF EXISTS `vw_college_stats`;
/*!50001 DROP VIEW IF EXISTS `vw_college_stats`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_college_stats` AS SELECT
 1 AS `id`,
  1 AS `college_name`,
  1 AS `college_code`,
  1 AS `city`,
  1 AS `state`,
  1 AS `total_faculty`,
  1 AS `total_teachers`,
  1 AS `total_hods`,
  1 AS `total_exams`,
  1 AS `is_active`,
  1 AS `created_at` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vw_exam_stats`
--

DROP TABLE IF EXISTS `vw_exam_stats`;
/*!50001 DROP VIEW IF EXISTS `vw_exam_stats`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_exam_stats` AS SELECT
 1 AS `id`,
  1 AS `title`,
  1 AS `exam_date`,
  1 AS `status`,
  1 AS `department`,
  1 AS `subject`,
  1 AS `total_assignments`,
  1 AS `schedule_count`,
  1 AS `created_by_name`,
  1 AS `created_at` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `user_permissions_view`
--

/*!50001 DROP VIEW IF EXISTS `user_permissions_view`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `user_permissions_view` AS select `u`.`id` AS `user_id`,`u`.`name` AS `user_name`,`u`.`email` AS `email`,`u`.`post` AS `role`,`p`.`principal_access` AS `principal_access`,`p`.`vice_access` AS `vice_access`,`p`.`hod_access` AS `hod_access`,`p`.`teacher_access` AS `teacher_access`,`p`.`module_overview` AS `module_overview`,`p`.`module_user_management` AS `module_user_management`,`p`.`module_exam_management` AS `module_exam_management`,`p`.`module_approvals` AS `module_approvals`,`p`.`module_available_exams` AS `module_available_exams`,`p`.`module_permissions` AS `module_permissions`,`p`.`module_analytics` AS `module_analytics`,`p`.`module_audit_logs` AS `module_audit_logs`,`p`.`module_settings` AS `module_settings`,`p`.`module_principal_dash` AS `module_principal_dash`,`p`.`module_vice_dash` AS `module_vice_dash`,`p`.`module_hod_dash` AS `module_hod_dash`,`p`.`module_teacher_dash` AS `module_teacher_dash` from (`users` `u` left join `permissions` `p` on(`u`.`id` = `p`.`user_id`)) where `u`.`status` = 'verified' */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_active_users`
--

/*!50001 DROP VIEW IF EXISTS `vw_active_users`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_active_users` AS select `u`.`id` AS `id`,`u`.`name` AS `name`,`u`.`email` AS `email`,`u`.`post` AS `post`,`u`.`college_name` AS `college_name`,`c`.`college_code` AS `college_code`,`u`.`status` AS `status`,`u`.`is_active` AS `is_active`,`u`.`created_at` AS `created_at`,`u`.`last_login` AS `last_login`,count(distinct `a`.`id`) AS `total_assignments`,count(distinct `n`.`notification_id`) AS `unread_notifications` from (((`users` `u` left join `colleges` `c` on(`u`.`college_id` = `c`.`id`)) left join `assignments` `a` on(`u`.`id` = `a`.`faculty_id`)) left join `notifications` `n` on(`u`.`id` = `n`.`user_id` and `n`.`is_read` = 0)) where `u`.`is_active` = 1 group by `u`.`id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_college_stats`
--

/*!50001 DROP VIEW IF EXISTS `vw_college_stats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_college_stats` AS select `c`.`id` AS `id`,`c`.`college_name` AS `college_name`,`c`.`college_code` AS `college_code`,`c`.`city` AS `city`,`c`.`state` AS `state`,count(distinct `u`.`id`) AS `total_faculty`,count(distinct case when `u`.`post` = 'teacher' then `u`.`id` end) AS `total_teachers`,count(distinct case when `u`.`post` = 'hod' then `u`.`id` end) AS `total_hods`,count(distinct `e`.`id`) AS `total_exams`,`c`.`is_active` AS `is_active`,`c`.`created_at` AS `created_at` from ((`colleges` `c` left join `users` `u` on(`c`.`id` = `u`.`college_id`)) left join `exams` `e` on(`c`.`college_name` = `e`.`department`)) group by `c`.`id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_exam_stats`
--

/*!50001 DROP VIEW IF EXISTS `vw_exam_stats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_exam_stats` AS select `e`.`id` AS `id`,`e`.`title` AS `title`,`e`.`exam_date` AS `exam_date`,`e`.`status` AS `status`,`e`.`department` AS `department`,`e`.`subject` AS `subject`,count(distinct `a`.`id`) AS `total_assignments`,count(distinct `es`.`id`) AS `schedule_count`,`u`.`name` AS `created_by_name`,`e`.`created_at` AS `created_at` from (((`exams` `e` left join `assignments` `a` on(`e`.`id` = `a`.`exam_id`)) left join `exam_schedule` `es` on(`e`.`id` = `es`.`exam_id`)) left join `users` `u` on(`e`.`created_by` = `u`.`id`)) group by `e`.`id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-21 18:03:43
